{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript">
        $.noConflict( )
        function maiuscula(valor){
            var elemento=document.form;
            elemento.descricao.value=elemento.descricao.value.toUpperCase();
        }        
    </script> 
{% endblock scripts %}
{% block subtitle %}
    <center> Editar Material </center>
{% endblock subtitle %}
{% block conteudo %}
    <form name="form" action="/editar_material/{{codigo}}" enctype="multipart/form-data" method="post">
        <table align="center">
            <fildset>                            
                <tr><td>&nbsp;</td></tr>                            
                 <tr>
                    <th>
                        Descrição:
                        {% if erro %}
                            <ul class="errorlist">
                                <li>{{mensagem_erro}}</li>
                            </ul>
                    	{% endif %}
                    </th>
                </tr>
                <tr><td colspan="2">{{form.descricao}}</td></tr>
                <tr>
                    <td>&nbsp;</td>
	            </tr>
	            <tr>
                    <td colspan="2">
                        <input type="submit" value="Alterar"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Excluir" onclick="location.href='/excluir_material/{{codigo}}/'">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Voltar" onclick="history.go(-1)">
                    </td>
	            </tr>
	    </table>
    </form>   
{% endblock conteudo %}





