{% extends 'base.html' %}
{% block subtitle %}
    <center>Login </center>
{% endblock subtitle %}
{% block conteudo %}
 <center>
    {% if user.is_authenticated %}
        <p><b>Bem vindo, {{ user }}!</b></p>
        <br>
        <p><a href="/logout/">Logout</a></p>
    {% else %}
        {% if form.errors %}
            <ul class="errorlist">
                <li>
                    Usuário e/ou senha incorreta. Tente novamente.
                    <br>
                    Caso persista o problema, entre em contato com a coordenação do evento através do número (00)0000-0000.
                </li>
            </ul>
        {% endif %}
        <form method="post" action="/login/">{% csrf_token %}
            <div class="menu">
                <table>
                    <tr>
                        <td>Login</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Senha</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <input type="submit" value="Login" />
        </form>                            
    {% endif %}
 </center>
{% endblock conteudo %}
