{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript">
        $.noConflict( )
        function maiuscula(valor){
            var elemento=document.form;
            elemento.descricao.value=elemento.descricao.value.toUpperCase();
        }        
    </script> 
{% endblock scripts %}
{% block subtitle %}
    <center> Vincular Servidor a Setor </center>
{% endblock subtitle %}
{% block conteudo %}
    <form name="form" action="/vincular_setor/" enctype="multipart/form-data" method="post">
        <table align="center">
            <fildset>                            
                <tr><td>&nbsp;</td></tr>                            
                 <tr>
                    <th>
                        Setor:
                        {% if erro %}
                            <ul class="errorlist">
                                <li>{{mensagem_erro}}</li>
                            </ul>
                    	{% endif %}
                    </th>
                </tr>                
                {% for s in setor %}                    
                    <tr>                        
                            {%if s.id in cadastrados%}
                                <td colspan="2"> <input type="checkbox" name=setor{{s.id}} value={{s.id}} CHECKED>{{s.descricao}}</td>
                            {%else%}
                                <td colspan="2"> <input type="checkbox" name=setor{{s.id}} value={{s.id}}>{{s.descricao}}</td>
                            {%endif%}               
                    </tr>
                {%endfor%}                
                <tr>
                    <td>
                        &nbsp;
                        <input type="hidden" name="siape" value={{siape}}>
                        <input type="hidden" name="formulario" value={{formulario}}></td>
	            </tr>
	            <tr>
                    <td colspan="2">
                        <input type="submit" value="Vincular"/>
                        <input type="button" value="Voltar" onclick="history.go(-1)">
                    </td>
	            </tr>
	    </table>
    </form>   
{% endblock conteudo %}





